<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kop.daegudot">
    <!-- 인터넷 권한 (구글 연동) -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 위치 권한 (카카오 지도) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Login.KakaoLogin.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".MorePage.MyReviewStoryActivity"></activity>
        <activity android:name=".MorePage.MyCommentActivity" />
        <activity android:name=".MorePage.MyWishlistActivity" />
        <activity android:name=".MorePage.MyInformationActivity" />
        <activity android:name=".Recommend.RecommendListActivity" />
        <activity android:name=".KakaoMap.MapMainActivity" />
        <activity android:name=".Login.SignUpAddInfoActivity" />
        <activity android:name=".Login.EmailSignUpActivity" />
        <activity android:name=".Login.EmailLoginActivity" />
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".Recommend.AddRecommendActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".MainActivity" />
        <activity android:name=".IntroPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>